# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtualenv
# =========================
env/
venv/
.venv/
ENV/

# =========================
# Django
# =========================
*.log
local_settings.py
db.sqlite3
media/

# =========================
# Environment variables
# =========================
.env
.env.*
*.env

# =========================
# Static
# =========================
staticfiles/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/
*.swp
